body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.password-box {
    width: 80vw;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#password {
    margin: 0;
    font-size: 3vw;
    word-break: break-all;
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

label {
    margin-right: 10px;
    font-size: 16px;
}

input[type="range"] {
    width: 80%;
    margin-top: 10px;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.checkbox-container label {
    margin: 5px;
}

#generatePasswordButton {
    margin-top: 20px;
    padding: 14px 28px;
    font-size: 18px;
    background-color: #4d4d4d;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generatePasswordButton:hover {
    background-color: #8d8d8d;
}
